
<div class="txt" style="background-color: #0a4863ff; width: max-content; padding: 5px; border-radius: 4px; color: white; " mat-raised- mat-button>
    MIS ESTUDIANTES
</div>
<div class="column">
    
    <div class="row" style="height:50em ; flex-wrap: wrap; ">
        <mat-card style="gap: 25px;" class="glassbox" *ngFor="let item of dataSource.data">
            <mat-card-header>
                <div style="width: 80px;" mat-card-avatar>
                    <img style="width:100%; " src={{item.imgPerfi}} alt="">
                </div>
                <mat-card-title>{{item.name}} {{item.ape}}</mat-card-title>
            </mat-card-header>
            
            <mat-card-actions>
               
                <button mat-button>CURSO: <span *ngIf="!item.currentCurso">Sin asignar</span>{{item.currentCurso}}</button>
                
            </mat-card-actions>
        </mat-card>
    </div>


</div>