<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<!-- Agregar el enlace al archivo de la biblioteca FontAwesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">



<div class="example-container">

  <div
    style="display: flex; flex-direction: row; width: 100%;height: 35px; align-items: center; justify-content: center;">
    <a href="/representante">CAMPUS VIRTUAL</a>
  </div>


  <div class="scalar  btn menu-container" (click)="showMenuStudent()"
    style="display: flex; flex-direction: row; width: 100%; height: 35px; align-items: center;  ">
    <div style="display: flex;justify-content: flex-start; width: 35%; align-items: center;margin: 5%;">
      <div class="icoAssists"></div>
    </div>
    <div style="display: flex;justify-content: flex-start; width: 80%; align-items: center; margin: 5%; ">
      ESTUDIANTES
    </div>
    <i class="fas fa-chevron-down text-xs"></i>
  </div>
  <ul class="desplegable ml-4" *ngIf="menuStudent">
    <li (click)="goAlumnos()">
      <a  class="block p-2 hover:bg-gray-700 flex items-center">
        <i class="fas fa-chevron-right mr-2 text-xs"></i>
        Mis estudiantes
      </a>
    </li>
    <li (click)="goRegisterAlumnos()">
      <a class="block p-2 hover:bg-gray-700 flex items-center">
        <i class="fas fa-chevron-right mr-2 text-xs"></i>
         Registrar estudiante
      </a>
    </li>
  </ul>





  <div (click)="goActivitys()" class="scalar  btn"
    style="display: flex; flex-direction: row; width: 100%; height: 35px; align-items: center;  ">
    <div style="display: flex;justify-content: flex-start; width: 35%; align-items: center;margin: 5%;">
      <div class="icoRatings"></div>
    </div>
    <div style="display: flex;justify-content: flex-start; width: 80%; align-items: center; margin: 5%;">
      ACTIVIDADES
    </div>
  </div>

</div>