.icoSucces {
    display: inline-block;
    width: 35px;
    height: 35px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='35' width='35' viewBox='0 0 512 512'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z' fill='%232b3945' /%3E%3C/svg%3E");
    background-color: #44b678;
  }
  .icoError {
    display: inline-block;
    width: 35px;
    height: 35px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='35' width='35' viewBox='0 0 512 512'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z' fill='%232b3945' /%3E%3C/svg%3E");
    background-color: rgb(184, 1, 1);
  }

  .icoFolderOpen {
    display: inline-block;
    width: 16px;
    height: 16px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='18' viewBox='0 0 576 512'%3E%3Cpath d='M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z' fill='%232b3945' /%3E%3C/svg%3E");
    background-color: rgb(184, 1, 1);
  }
  
  
  .scalar {}

.scalar:hover {
    transform: scale(1.2);

}


.glassbox {
  /* From https://css.glass */
  background: navy;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(10.5px);*/
  /* -webkit-backdrop-filter: blur(10.5px);*/
  border: 1px solid rgba(10, 116, 165, 0.02);
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: white;

}

.txt {
  flex-basis: 2%;
  font-weight: 550;
  font-size: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}