<nav>
    <div class="cco" style="display: flex; flex-direction: row; width: 100%;">

        <div style="display: flex; justify-content: flex-start;width: 10%;">
            <li><a href="default.html">Menu</a></li>
  
        </div>

        <div style="display: flex; justify-content: center;width: 80%;">
            <li><a href="default.html">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </div>

        <div style="display: flex; justify-content: flex-end;width: 10%;">
            <li><a href="default.html">Home</a></li>
  
        </div>
        
    </div>
</nav>