.icoDownload {
    display: inline-block;
    width: 48px;
    height: 64px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='64' width='48' viewBox='0 0 384 512'%3E%3Cpath d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z' fill='%23fff' /%3E%3C/svg%3E");
    background-color: #44b678;
  }

  .glassbox{
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(10, 116, 165, 0.02);
    width: max-contentww; display:flex; flex-direction:column; align-items:center ; padding: 1em;
    height: max-content;
    gap: 10px;
}

.row{
    display:flex; flex-direction:row; align-items:center ;gap: 10px;
}

.column{
    display:flex; flex-direction:column; align-items:center ;
}