<div class="glassbox txt row" style="width: 100%;">
    REGISTRO DE ASISTENCIAS
</div>


    <div style=" display: flex; flex-direction: row; width: 100%;">
        <div style="width: 50% ; display: flex;">


        </div>
    </div>


    <div style="width: 100% ; margin-top: 1%;">






    </div>

    <table mat-table [dataSource]="Assists" class="mat-elevation-z8">

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> FECHA </th>
            <td mat-cell *matCellDef="let element"> {{element.assists.fechaAsistencia}} </td>
        </ng-container>

        <ng-container matColumnDef="curso">
            <th mat-header-cell *matHeaderCellDef> CURSO </th>
            <td mat-cell *matCellDef="let element"> {{element.assists.curso.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="docente">
            <th mat-header-cell *matHeaderCellDef> DOCENTE </th>
            <td mat-cell *matCellDef="let element"> {{element.assists.docente.name}} {{element.assists.docente.ape}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef> ESTUDIANTE</th>
            <td mat-cell *matCellDef="let element"> {{element.student.name}} {{element.student.ape}}</td>
        </ng-container>

        <ng-container matColumnDef="asistencia">
            <th mat-header-cell *matHeaderCellDef> ASISTENCIA</th>
            <td mat-cell *matCellDef="let element">

                <div *ngIf="element.present" class="icoSucces"></div>
                <div *ngIf="!element.present" class="icoError"></div>

            </td>
        </ng-container>






        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>